<header>
    <div>
        <p><a href="/filActualite">Le&nbsp;Happy Skieur</a></p>
    </div>
    <nav>
        <ul>
            <li><a href="/filActualite">Meilleurs spots</a></li>
            <li><a href="/create">Ajouter un spot</a></li>
            <li><a href="/users/search/:query">Chercher un ami</a></li>
            <li><a href="/profil">Mon profil</a></li>
        </ul>
    </nav>
</header>