<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title>Votre profil | Le Happy Skieur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="squelette">
    <div>
        <header>
            <p>Le&nbsp;Happy Skieur</p>
        </header>
        <main>
            <form action="/users/search/:query" method="get">
                <label>Recherche des amis</label>
                <input type="text" name="search">
                <input type="submit" value="Rechercher" style="background-color: aqua;">
            </form>
            <div>
                <% users.forEach(element =>{%>

                    <p><%= element.name %></p>
                
                   <%})%>     
              
            </div>
        </main>
    </div>
</body>
</html>