<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Créer votre spot</h1>
    <form method="post" action="/create">
        <div>
            <label>Nom</label>
            <input name="name" type="text">
        </div>
        <div>
            <label>Description</label>
            <input name="description" type="text">
        </div>
        <div>
            <label>Adresse</label>
            <input name="address" type="text">
        </div>
        <div>
            <label>Difficulté</label>
            <input name="difficulty" type="text">
        </div>
        <div>
            <input type="submit" value="Envoyer">
        </div>
        
    </form>
    
</body>
</html>