<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel='stylesheet' href='style.css'>
    <!-- <meta charset="utf-8">
    <title>Ajout d'un spot de ski | Le Happy Skieur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
</head>
<body class="squelette">
    <div> 
        <header>
            <p>Le&nbsp;Happy Skieur</p>
        </header>
        <main>
            <section>
                <h1>Mettre à jour le spot de ski</h1>
                <form action="/create" method="post">
                    <label for="name">Nom</label>
                    <input type="text" name="name" value="<%= skiSpot.name %>" required>
                    <label for="difficulty">Difficulté</label>
                    <input type="text" name="difficulty" value="<%= skiSpot.difficulty %>" required>
                    <label for="description">Description</label>
                    <textarea name="description" required> <%= skiSpot.description %> </textarea>
                    <label for="address">Localisation</label>
                    <input type="text" name="address" value="<%= skiSpot.address %>" required="required">
                    <div class="bouton align-center margin-top">
                        <button type="submit" class="bouton-fonce">Ajouter le spot</button> 
                        <a href="/filActualite" title="Annuler" class="bouton-clair">Annuler</a>
                    </div>
                </form>
            </section>
            <aside>
                <img src="../images/paysage-randonnee4.jpg" alt="">
                <h1>Le saviez-vous ?</h1>
                <p>Pour contrôler chacun de vos mouvements, il vous faudra aussi de bons abdominaux. N’hésitez pas à les renforcer dans les prochaines semaines. Vos bras seront aussi très sollicités. Un truc est de marcher avec des bâtons pour réveiller les muscles du haut du corps et ainsi vous réapproprier les mouvements de ski.</p>
                <p>Pour connaître les meilleurs exercices pour vous, n’hésitez pas à consulter un professionnel de la santé et du sport, comme un kinésiologue, un physiothérapeute ou un entraîneur professionnel.</p>
            </aside>
        </main>
    </div>
</body>