<!DOCTYPE html>
<html lang="fr" class="pageProfil">
<head>
    <meta charset="UTF-8">
    <title>Votre profil | Le Happy Skieur</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <p>Le&nbsp;Happy Skieur</p>
    </header>
    <main>
        <article>
            <h1>Bientôt disponible</h1>
            <a href="create">Créer un spot</a>
        </article>
        <article>
            <h1>Informations</h1>
            <div>
                <p>Nom</p>
                <p><%= name %></p>
            </div>
            <div>
                <p>Courriel</p>
                <p><%= email %></p>
            </div>
    </article>
    </main>
</body>
</html>