<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form name="login" method="post">
        <div>
            <label>Identifiant</label>
            <input type="text" name="identifiant">
        </div>
        <div>
            <label>Mot de passe</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Envoyer</button><br>
    </form>
    <a href="signup">S'inscrire</a>
</body>
</html>