<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel='stylesheet' href='css/style.css'>
    <meta charset="utf-8">
    <title>Se connecter | Le Happy Skieur</title>
</head>
<body class="pageConnexion">
        <header>
            <p>Le&nbsp;Happy Skieur</p>
        </header>
        <main>
            <h1>Se connnecter</h1>
            <form action="/signin" method="post">
                    <label for="email">Adresse courriel</label>
                    <input type="text" name="email" id="email" required="required">
                    <label for="mdp">Mot de passe</label>
                    <input type="password" name="password" id="mdp" required="required">
                    <input type="submit" name="authentification" value="Se connecter">
            </form>
            <p>Vous n'avez pas de compte ?<br><a href="signup" title="Se créer un compte sur Le Happy Skieur">Créez votre compte</a></p>
        </main>
</body>
</html>