<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <form method="get" action="/profil">
        <input name="name" type="text" placeholder="Votre Nom">
        <input name="email" type="email" placeholder="Votre mail">
        <input name="password" type="password" placeholder="Password">
        <button type="submit">S'inscrire</button>
    </form>
</body>
</html>